<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% if localOrRemote == 'local' %}
        <title>INTERNAL Cat Feeder Admin</title>
    {% else %}
        <title>EXTERNAL Cat Feeder Admin</title>
    {% endif %}

    <!-- Bootstrap Core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="icon" href="/static/images/titleIcon.png">
    <link href="static/css/navBar.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        #TimeService {display:inline-block}
        #TimeServiceIcon {display:inline-block}
        #TimeServiceStatus {display:inline-block}
        #TimeServiceMessage {display:inline-block}
        #startTimeService {display:inline-block}
        #stopTimeService {display:inline-block}
        #ButtonServiceIcon {display:inline-block}
        #ButtonServiceStatus {display:inline-block}
        #ButtonServiceMessage {display:inline-block}
        #startButtonService {display:inline-block}
        #stopButtonService {display:inline-block}
        #WebcamServiceIcon {display:inline-block}
        #WebcamServiceStatus {display:inline-block}
        #WebcamServiceMessage {display:inline-block}
        #startWebcamService {display:inline-block}
        #stopWebcamService {display:inline-block}
        #otherLinks {display:inline-block}
    </style>



</head>

<body>

<div class="container">


<nav class="navbar navbar-default">
  <div class="navbar-header">
        <p class="navbar-brand1 navbar-brand navBarTitle">Admin</p>
      <img class="img-responsive" src="/static/images/titleIcon.png" width="75" height="75" >
  </div>
</nav>



    {% with messages = get_flashed_messages() %}
    {% if messages %}

    {% for message in messages %}
    <div id="message" class="alert alert-success">
        <h4 class="alert-heading">MESSAGE</h4>
        {{ message }}
        <br>
    </div>
    {% endfor %}

    {% endif %}
    {% endwith %}


    <div id="TimeService">
        <img id="TimeServiceIcon" src="/static/images/greencircle.png" height="20" width="20">
        <h4 id="TimeServiceStatus">Time Service Status:</h4>
        <form role="form" id="startTimeService" method="post" action="/startTimeService">
            <button class="btn btn-success" type="submit">Start</button>
        </form>
        <form role="form" id="stopTimeService" method="post" action="/stopTimeService">
            <button class="btn btn-danger" type="submit">Stop</button>
        </form>
        <br>
        <h5 id="TimeServiceMessage">{{timeServiceFinalStatus}}</h5>
        <hr id="TimeLineBreak" size="2"/>
    </div>

    <div id="ButtonService">
        <img id="ButtonServiceIcon" src="/static/images/greencircle.png" height="20" width="20">
        <h4 id="ButtonServiceStatus">Button Service Status:</h4>
        <form role="form" id="startButtonService" method="post" action="/startButtonService">
            <button class="btn btn-success" type="submit">Start</button>
        </form>
        <form role="form" id="stopButtonService" method="post" action="/stopButtonService">
            <button class="btn btn-danger" type="submit">Stop</button>
        </form>
        <br>
        <h5 id="ButtonServiceMessage">{{buttonServiceFinalStatus}}</h5>
        <hr size="2"/>
    </div>

    <div id="WebcamService">
        <img id="WebcamServiceIcon" src="/static/images/greencircle.png" height="20" width="20">
        <h4 id="WebcamServiceStatus">Webcam Status:</h4>
        <form role="form" id="startWebcamService" method="post" action="/startWebcamService">
            <button class="btn btn-success" type="submit">Start</button>
        </form>
        <form role="form" id="stopWebcamService" method="post" action="/stopWebcamService">
            <button class="btn btn-danger" type="submit">Stop</button>
        </form>
        <br>
        <h5 id="WebcamServiceMessage">{{webcamServiceFinalStatus}}</h5>
        <hr size="2"/>
    </div>

    <div id="OtherLinks">
        <a href="/" class="btn btn-primary">Home</a>
        <a href="{{cameraSiteAddress}}" class="btn btn-primary">Webcam Admin</a>
    </div>

</div>


    <script>
        var a=document.getElementById("TimeServiceMessage");
        var endSearch=a.innerHTML.indexOf("(");
        var substring=a.innerHTML.substring(0,endSearch)
        substring=substring.trim()

        if (substring == "active") {
            document.getElementById("TimeServiceIcon").setAttribute("src","/static/images/greencircle.png")
        }
        if (substring == "inactive") {
            document.getElementById("TimeServiceIcon").setAttribute("src","/static/images/redcircle.png")
        }
    </script>

    <script>
        var a=document.getElementById("ButtonServiceMessage");
        var endSearch=a.innerHTML.indexOf("(");
        var substring=a.innerHTML.substring(0,endSearch)
        substring=substring.trim()

        if (substring == "active") {
            document.getElementById("ButtonServiceIcon").setAttribute("src","/static/images/greencircle.png")
        }
        if (substring == "inactive") {
            document.getElementById("ButtonServiceIcon").setAttribute("src","/static/images/redcircle.png")
        }
    </script>

    <script>
        var a=document.getElementById("WebcamServiceMessage");
        var substring=a.innerHTML
        if (substring == "active") {
            document.getElementById("WebcamServiceIcon").setAttribute("src","/static/images/greencircle.png")
        }
        if (substring == "inactive") {
            document.getElementById("WebcamServiceIcon").setAttribute("src","/static/images/redcircle.png")
        }
    </script>

</body>



</html>
